@model IEnumerable<CartItem>

@{
    ViewData["Title"] = "Giỏ hàng";
}

<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3>Your Cart</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">Product</th>
                                    <th class="quy-th">Quantity</th>
                                    <th class="size-th">SizeSize</th>
                                    <th class="total-th">Price</th>
                                    <th>Button</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product-col">
                                            <img src="~/Img/product/@item.Product.ProductImage" alt="">
                                            <div class="pc-title">
                                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.ProductID"><h4>@item.Product.ProductName</h4></a>
                                                <p>@item.Product.UnitPrice VND</p>
                                            </div>
                                        </td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="@item.Amount">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="size-col"><h4>Size M</h4></td>
                                        <td class="total-col"><h4>@item.TotalPrice</h4></td>
                                        <td>
                                            <form asp-controller="Cart" asp-action="RemoveCart" asp-route-id="@item.Product.ProductID" method="post">
                                                <button>X</button>
                                            </form>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="total-cost">
                        <h6>Total <span>@Model.Sum(p => p.TotalPrice) VND</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 card-right">
                <a asp-controller="CheckOut" class="site-btn">Đến trang thanh toán</a>
                <a asp-controller="Product" asp-action="Category" class="site-btn sb-dark">Tiếp tục mua hàng</a>
                <p>Thanh toán ngay với paypal:</p>
                <a asp-controller="Paypal" asp-action="CheckOut"><img src="~/Img/Paypal.png" /></a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->
<!-- Related product section -->
@await Component.InvokeAsync("RelatedProduct", new { page = "Contact" })
<!-- Related product section end -->
