@model IEnumerable<MyShop.Models.Trademark>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/Img/Logo/@item.Logo" style="width:200px;height:100px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrademarkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrademarkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrademarkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
