@{
    var data = ViewBag.Data ?? new List<ProductViewModel>();
    string type = "Tất cả sản phẩm";
    if (ViewBag.type != null)
    {
        type = (ViewBag.type as ProductType).TypeName;
    }
}


<!-- Category section -->
@ViewBag.type?.TypeID
<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="filter-widget">
                    <h2 class="fw-title">Categories</h2>
                    <ul class="category-menu">
                        @await Component.InvokeAsync("CategoryMenu", new { tmp = 2})
                    </ul>
                </div>
            </div>

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    @foreach(var product in data) {
                    <div class="col-lg-4 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <div class="tag-sale">@product.Discount %</div>
                                <a asp-action="Details" asp-route-url="@product.ProductNameSeoUrl" asp-route-type="@type.ToUrlFriendly()">
                                    <img src="~/Img/product/@product.ProductImage" alt="">
                                </a>
                                <div class="pi-links">
                                    <form asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductID" asp-route-qty=1 method="post">
                                        <button class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></button>
                                    </form>
                                    
                                    <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>@product.UnitPrice VND</h6>
                                <p>@product.ProductName</p>
                            </div>
                        </div>
                    </div>
                    }
                    <div class="text-center w-100 pt-3">
                        <button class="site-btn sb-line sb-dark">LOAD MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->
